body {
    font-family: Arial, sans-serif;
    background: url('../image/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #444;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background: rgba(76,68,182,0.808);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px; /* Add margin-top to create spacing */
}

button:hover {
    opacity: 0.82;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.room-box {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.room-box p {
    color: #666;
}
