* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    flex: 1;
    background: url('adminHome.jpg') no-repeat center center;
    background-size: cover;
}

.Welcome {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    color: white;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a, .navbar ul li .logout-button {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

.navbar ul li a::after, .navbar ul li .logout-button::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.navbar ul li a:hover::after, .navbar ul li .logout-button:hover::after {
    width: 100%;
}

.content {
    display: none; /* Hide content by default */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; /* Stack content vertically */
    height: calc(100% - 70px); /* Adjust height as needed */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.content h1 {
    color: white; /* Set H1 text color to white */
    margin-bottom: 20px; /* Add some space below the H1 */
    width: 100%;
    text-align: center;
}

table, th, td {
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    margin: 0 auto;
}

table {
    margin: 0 auto; /* Center the table */
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: black; /* Black background */
    color: white; /* White text */
    text-align: center; /* Center the text */
    padding: 10px 0; /* Padding for top and bottom */
    position: relative;
    width: 100%;
}
